<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Polished</title>
  <!-- <link rel="stylesheet" href="http://localhost:3000/css/bootstrap4/dist/css/bootstrap-custom.css?v=datetime"> -->
  <link rel="stylesheet" href="../dist/bootstrap-polaris.min.css">
  <!-- <link rel="stylesheet" href="polaris-navbar.css"> -->

  <style>
    .grid-highlight {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #5c6ac4;
      border: 1px solid #202e78;
      color: #fff;
    }

    hr {
      margin: 6rem 0;
    }

    hr+.display-3,
    hr+.display-2+.display-3 {
      margin-bottom: 2rem;
    }
  </style>
  <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js') + (document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure", "1.1") ? ' svg' : ' no-svg');
  </script>
</head>

<body>

  <nav class="navbar-shopify navbar-expand-lg">
    <a class="navbar-brand col-md-2 mr-0" href="#">Polished</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-lg-8">
        <li class="col-lg-3"></li>
        <form class="form-inline my-2 my-lg-0 col-lg-9 col-xs-0">
          <input class="form-control col-xs-12 col-lg-12 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0 col-4">
        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Muhammad Azamuddin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="#">Action</a>
            <a class="dropdown-item " href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <main class="container-fluid"> -->
  <div class="polished-wrapper row">
    <div class="polished-sidebar col-md-3">
      <a href="#" class="btn btn-link-gray" title="Download as CSV">
          <svg class="polaris-icon__svg" viewBox="0 0 20 20">
            <path d="M9.293 13.707l-3-3a.999.999 0 1 1 1.414-1.414L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a.999.999 0 1 1 1.414 1.414l-3 3a.999.999 0 0 1-1.414 0zM17 16a1 1 0 1 1 0 2H3a1 1 0 1 1 0-2h14z"></path>
          </svg>
          Dashboard
        </a>
      <a href="#" class="btn btn-link-gray" title="Download as CSV">
        <svg class="polaris-icon__svg" viewBox="0 0 20 20">
          <path d="M9.293 13.707l-3-3a.999.999 0 1 1 1.414-1.414L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a.999.999 0 1 1 1.414 1.414l-3 3a.999.999 0 0 1-1.414 0zM17 16a1 1 0 1 1 0 2H3a1 1 0 1 1 0-2h14z"></path>
        </svg>
        Kelola Pengguna
      </a>
      <a href="#" class="btn btn-link-gray">
          <svg class="polaris-icon__svg" viewBox="0 0 20 20"><path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path></svg>
        Kelola Produk dan Kategori
      </a>
      <a href="#" class="btn btn-link-gray" title="Download as CSV">
        <svg class="polaris-icon__svg" viewBox="0 0 20 20">
          <path d="M9.293 13.707l-3-3a.999.999 0 1 1 1.414-1.414L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a.999.999 0 1 1 1.414 1.414l-3 3a.999.999 0 0 1-1.414 0zM17 16a1 1 0 1 1 0 2H3a1 1 0 1 1 0-2h14z"></path>
        </svg>
        Kelola Pemesanan
      </a>
    </div>
    <div class="col-md-9">

      <section class="page">

        <div class="row">
            <div class="col-8">
                <span class="display-4 text-muted">Admin /</span>
                <h1 class="display-3">Kelola Pengguna</h1>
            </div>
            <div class="col-4 text-right">
                <button class="btn btn-primary align-bottom">Tambah</button>
            </div>  
        </div>
          <hr style="margin-top: 20px;margin-bottom: 30px;clear: both"/>

          <section class="card">
              <div class="card-body">
                <table class="table table-responsive ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>me@me.ca</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>me@me.ca</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>me@me.ca</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
      </section>
    </div>
  </div>
  <!-- </main> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</body>

</html>